@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
    0%{
        opacity: 0;
        transform: translateX(200px);
    }
    100%{
        opacity: 1;
        transform: translateX(0); 
    }
}

@keyframes fadeOut {
    0%{
        opacity: 0;
        transform: translateX(-200px);
    }
    100%{
        opacity: 1;
        transform: translateX(0); 
    }
}

.fade-in {
    animation: fadeIn 0.5s ease-out forwards;
  }

.fade-out {
    animation: fadeOut 0.5s ease-out forwards;
  }

.carousel.carousel-slider{
    border-radius: 2rem;
}


@media (min-width: 1300px) {
    .carousel.carousel-slider{
        height: 60%;
    }
  }